@import '~@angular/material/theming';
@import './app/layout/styles/custom-styles.scss';

@include mat-core();

$SharshipBattleApp-primary: mat-palette($mat-indigo);
$SharshipBattleApp-accent: mat-palette($mat-pink, A200, A100, A400);
$SharshipBattleApp-warn: mat-palette($mat-red);
$SharshipBattleApp-theme: mat-light-theme($SharshipBattleApp-primary, $SharshipBattleApp-accent, $SharshipBattleApp-warn);

@include angular-material-theme($SharshipBattleApp-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
